body {
    font-family: Arial, sans-serif;
    background-color: #298427;
    color: white;
    
}
header {
    background-color: #b22222;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
z-index: -1;
